.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.cell{
  height: 100px;
  width: 100px;
  font-size: 36px;
  cursor: pointer;
  border: 2px solid #cccccc;
  font-weight: 700;
  color: black;
}